
    <div class="container-fluid w-100 p-3" style="background-color: #eee;">
        <h1>About </h1>
        <p>
            Objetivu husi Aplikasaun ida ne atu fahe informasaun real kona ba dados covid19 iha timor.
            Basicamente informasaun ida ne foti husi <a target="_blank" href="https://api.covid19api.com/">API covid19</a>  ne'be kostumiza tena tuir 
            Nasaun timor Leste nia no traduz ona ba lian Tetum.
            Web ida ne’e halo husi angular framework, no ho styling ho css ho bootstrap.
            Source code ba aplikasaun ne disponvivel ona <strong><a target=”_blank” href="https://github.com/januariocosta84">github</a> </strong> 
            karik ita bot sira hakrak modifika bele download nia source code.    
        </p><br>
        <p>Obrigado 
        <br> <br>
        Developer Team</p> 
    </div>
    
    <div class="container-fluid w-100 p-3" style="background-color: #eee;">
        <p>
            Esta aplicação tem por objectivo partilhar dados real sobre covid19 em timor Leste.
            Basicamente a informação foi tirada no site  <a target="_blank" href="https://api.covid19api.com/">API covid19</a> que é costumizado pela nacao timor leste e traduzido para língua tétum.
            Esta aplicação e feito pelo angular framework e seu estilo com css e bootstrap. Código fonte já esta disponível em <strong><a href="https://github.com/januariocosta84">github</a> </strong>,
            caso queiram modifica-lo podem descarar – lo o seu codigo fonte.
        </p>
        <br>
        <p>
            Obrigado 
            <br><br>
            Equipa programador
        </p>
    </div>

    <div class="container-fluid w-100 p-3" style="background-color: #eee">
        <p>
            Objective of this aplication is to share the real information about covid19 in Timor Leste.
            Basicaly this information are taken thorough the site   <a target="_blank" href="https://api.covid19api.com/">API covid19</a>which is
            already costumized  by country Timor Leste and translated to Tetum Language.
            This aplication is created by using angular framework with its css style and bootstrap.
            Source code is already available you can find it on <strong><a href="https://github.com/januariocosta84">github</a> </strong>,
            if you want to modify you can download.
        </p>
        <br>
        <p>
            Thanks <br> <br>
            Developer Team.
        </p>
           

 
    </div>

        

