<div id="maincounter-wrap">
    <h1> Total Populasaun Timor Leste
    </h1>
    <div class="maincounter-number">
        <span class="rts-counter" rel="timor-leste-population">
            <span class="rts-nr-sign"></span>
            <span class="rts-nr-int rts-nr-10e6">1</span>
            <span
                class="rts-nr-thsep">,
            </span><span class="rts-nr-int rts-nr-10e3">331</span><span
                class="rts-nr-thsep">,
            </span><span class="rts-nr-int rts-nr-10e0">987</span></span>
        </div>
</div>