<nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="">Covid19 TL</a>
          </div>
              <div id="#myNavbar">
                  <ul class="nav navbar-nav">
                      <li>
                        <a routerLink="/corona-virus" routerLinkActive="active">Covid119 Timor Leste</a>
                      </li>
                      <li>
                        <a routerLink="/population" routerLinkActive="active">Total Populasaun</a>
                      </li>
                      <li>
                        <a routerLink="/about-us" routerLinkActive="active">Kona ba Ami</a>
                      </li>
                  </ul>
              </div>
        </div>
      </nav>